<a class="offset-scroll-position-for-fixed-header" name="save-the-date"></a>
<div id="form-wrapper" class=" top-0 py-10 sm:pt-[50px] sm:pb-10">
<section id="form" class="sm:border-r border-white sm:pr-10 md:pr-20">
  <h2 class="type-hero-title mb-[14px]" > {{ i18n "form_title" }} </h2>
  <p class="type-venue-description mb-[14px]" > {{ i18n "form_description" }} </p>
  <div id="eventbrite-widget-container-686266119437"></div>
</section>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '686266119437',
        iframeContainerId: 'eventbrite-widget-container-686266119437',

        // Optional
        iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>

</div>