<footer class="px-5 pb-10 type-footer">
    <div class="flex flex-col sm:flex-row gap-[40px]">
        <div class="sm:basis-1/2">
            <a href="https://abetterinternet.org">
                <img
                    class="block max-w-[300px] max-h-[55px] mb-[40px] sm:mb-[40px]"
                    src="/images/ISRG-Logo-White.png"
                    alt="Prossimo Logo"
                />
            </a>

            <p class="text-sm max-w-[360px]">
                <a href="https://memorysafety.org">Prossimo</a> is a project of <a href="https://abetterinternet.org">Internet Security Research Group</a>, a 501(c)(3) nonprofit organization.
            </p>
        </div>
        <div class="sm:basis-1/2 flex flex-row gap-[40px] justify-between sm:justify-end sm:items-end">
            <div class="">
                <h6 class="text-md font-bold mb-5">Resources</h6>
                <ul>
                    <li class="leading-[1.8]">
                        <a href="https://www.abetterinternet.org/privacy-policy" target="_isrg-privacy">Privacy Policy</a>
                    </li>
                    <li class="leading-[1.8]">
                        <a href="https://www.abetterinternet.org/trademarks" target="_isrg-trademarks">Trademark Policy</a>
                    </li>
                </ul>
            </div>

            <div>
                <h6 class="text-md font-bold mb-5">Social</h6>
                <ul>
                    <li class="leading-[1.8]">
                        <a href="https://twitter.com/ProssimoISRG" target="_isrg-twitter">Twitter</a>
                    </li>
                    <li class="leading-[1.8]">
                        <a href="https://www.linkedin.com/company/internet-security-research-group" target="_isrg-linkedin">LinkedIn</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>

