<a class="offset-scroll-position-for-fixed-header" name="save-the-date"></a>
<div id="form-wrapper" class="sm:sticky top-0 py-10 sm:pt-[50px] sm:pb-10">
<section id="form" class="sm:border-r border-white sm:pr-20">
  <h2 class="type-hero-title mb-[14px]" > {{ i18n "form_title" }} </h2>


  <form action="{{ i18n "form_post_endpoint" }}" method="post" id="registrationForm">
    <div style="position:absolute; left:-9999px; top: -9999px;">
      <label for="pardot_extra_field">Comments</label>
      <input type="text" id="pardot_extra_field" name="pardot_extra_field">
  </div>
    <p class="type-hero-description mt-2" > {{ i18n "form_description" | markdownify }} </p>

    <div class="mt-4">
      <input type="text" id="First Name" name="First Name" class="ui-form-text-field" required />
      <label for="fname" class="type-form-label" >{{ i18n "form_field_firstname" }}</label >
    </div>
    <div class="mt-4">
      <input type="text" id="Last Name" name="Last Name" class="ui-form-text-field" required />
      <label for="lname" class="type-form-label" >{{ i18n "form_field_lastname" }}</label >
    </div>
    <div class="mt-4">
      <input type="email" id="email" name="email" class="ui-form-text-field" required />
      <label for="email" class="type-form-label" >{{ i18n "form_field_email" }}</label >
    </div>
    <div class="mt-4">
      <input type="text" id="Company" name="Company" class="ui-form-text-field" required />
      <label for="company" class="type-form-label" >{{ i18n "form_field_company" }}</label >
    </div>
    <div class="mt-4">
      <input type="checkbox" id="agree" required />
      <label for="agree" class="ml-2 type-form-label font-dmsans font-normal text-sm leading-4 tracking-[0.21em]" >{{ i18n "form_field_data_processing" }}
        <a href="{{ i18n "form_field_privacy_policy_link" }}" target="_blank" class="type-venue-link" >{{ i18n "form_field_privacy_policy_text" }}</a>
        </label>
    </div>
    <div id="errors" class="mt-4 text-red-600" style="display: none"></div>

    <div class="my-4">
      <button type="submit" class="btn-primary mb-5"> {{ i18n "form_field_submit" }} </button>
    </div>

  </form>
</section>

<script>
  const form = document.getElementById("registrationForm");

  form.addEventListener('submit', function(event) {
    validateForm(event);
  });

  function validateForm(event) {
    const firstName = document.getElementById('First Name').value;
    const lastName = document.getElementById('Last Name').value;
    const company = document.getElementById('Company').value;
    const email = document.getElementById('email').value;
    const agree = document.getElementById('agree').checked;

    if (!firstName || !lastName) {
      showError('{{ i18n "form_validation_error_name" }}');
      return false;
    }
    if (!email) {
      showError('{{ i18n "form_validation_error_email" }}');
      return false;
    }
    if (!agree) {
      showError('{{ i18n "form_validation_error_agree" }}');
      return false;
    }
    if (!company) {
      showError('{{ i18n "form_validation_error_company" }}');
      return false;
    }

    const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailPattern.test(email)) {
      showError('Please provide a valid email.');
      return;
    }
  }

  function showError(message) {
    const errorMessage = document.getElementById("errors");
    errorMessage.innerText = message;
    errorMessage.style.display = "block";
  }
</script>
</div>