<div id="video-bg-container" class="absolute top-0 left-0 w-full z-10">
  <video class="hero-video w-full" playsinline autoplay muted loop>
    <source src="/video/plateh264.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>
<section class="hero bg-center pt-[20px] pb-2.5 sm:pt-[10vh] z-20 relative bg-gradient-to-b from-transparent to-dark-green to-40% sm:to-60% md:to-90%">
  <div class="container mx-auto px-5">
    <img
      class="block mb-[80px] sm:mb-[25vh]"
      src="/images/prossimo-logo.png"
      alt="Prossimo Logo"
    />
    <h1 class="">
      <span class="type-hero-eyebrow block">{{ i18n "hero_eyebrow" }}</span>
      <span class="type-hero-title">{{ i18n "hero_title" }}</span>
    </h1>

    <div class="type-hero-eyebrow mt-[50px] mb-[16px]">
      {{ i18n "hero_date" }}
    </div>
    <div class="type-hero-eyebrow">{{ i18n "hero_venue" }}</div>

    <h3 class="type-heading-2 mt-[40px]  md:pr-10 md:max-w-[50%]">{{ i18n "hero_subhead" | safeHTML }}</h3>

    <div class="type-hero-description mt-10 md:pr-10  md:max-w-[50%]">
      {{ i18n "hero_description" | markdownify }}
    </div>
  </div>
</section>
