<nav id="navbar" class="transition-opacity opacity-100 bg-gradient-to-t sm:bg-none from-transparent to-dark-green to-20% text-white z-50 fixed top-0 w-full">
    <div class="mx-auto px-5">
      <div class="flex h-16 justify-between">
        <div class="flex">
          <div class="-ml-2 mr-2 flex items-center md:hidden">
            <button id="hamburger" type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg id="hamburger-to-open" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <svg id="hamburger-to-close" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="flex flex-shrink-0 items-center">
            <a id="logo" class="opacity-0 pointer-events-none" href="#tectonics">
            <img
                class="block h-6"
                src="/images/prossimo-logo.png"
                alt="Prossimo Logo"
              />
            </a>
          </div>

        </div>
        <div class="hidden md:ml-6 md:flex md:space-x-8">
          <a href="#{{ i18n "venue_title" | urlize }}" class="top-nav-item">{{ i18n "venue_title" }}</a>
          <a href="#{{ (i18n "speakers_title") | urlize }}" class="top-nav-item">{{ i18n "speakers_title" }}</a>
          <a href="#{{ (i18n "approach_nav_title") | urlize }}" class="top-nav-item">{{ i18n "approach_title" }}</a>
          <a href="#{{ (i18n "schedule_title") | urlize }}" class="top-nav-item">{{ i18n "schedule_title" }}</a>
          <a href="#{{ i18n "sponsor_title" | urlize }}" class="top-nav-item">{{ i18n "sponsor_title" }}</a>
        </div>
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a id="navbar-save-the-date" href="#save-the-date" class="relative inline-flex items-center btn-primary">
              {{ i18n "form_cta" }}
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="md:hidden" id="mobile-menu">
      <div class="space-y-1 pb-14 pt-2">
        <a href="#{{ i18n "venue_title" | urlize }}" class="hamburger-nav-item">{{ i18n "venue_title" }}</a>
        <a href="#{{ (i18n "speakers_title") | urlize }}" class="hamburger-nav-item">{{ i18n "speakers_title" }}</a>
        <a href="#{{ (i18n "approach_nav_title") | urlize }}" class="hamburger-nav-item">{{ i18n "approach_title" }}</a>
        <a href="#{{ (i18n "schedule_title") | urlize }}" class="hamburger-nav-item">{{ i18n "schedule_title" }}</a>
        <a href="#{{ i18n "sponsor_title" | urlize }}" class="hamburger-nav-item">{{ i18n "sponsor_title" }}</a>
      </div>
    </div>
  </nav>

  <script>

    window.addEventListener('scroll', function() {
        checkNavBar();
    });

    function checkNavBar() {
      const nav = document.querySelector('#navbar');
      const logo = document.querySelector('#logo');
      const offset = 60;

      // Show the nav unless at the top of the page
      if (window.pageYOffset > offset) {
          // Nav fully visible
          logo.classList.remove('opacity-0', 'pointer-events-none');
          logo.classList.add('opacity-100');
          nav.classList.add('bg-gradient-to-t');
          nav.classList.remove('sm:bg-none');
        } else {
          // Nav at top of page

          logo.classList.add('opacity-0', 'pointer-events-none');
          logo.classList.remove('opacity-100');
          nav.classList.add('bg-gradient-to-t','sm:bg-none');
          // nav.classList.remove('opacity-100');
          // nav.classList.add('opacity-0', 'pointer-events-none');
      }
    }

    document.addEventListener('DOMContentLoaded', function() {
      checkNavBar();

      const navbar = document.querySelector("#navbar");
      const hamburgerButton = document.querySelector("#hamburger");
      const mobileMenu = document.querySelector("#mobile-menu");
      hamburgerButton.addEventListener("click", function() {
          navbar.classList.toggle("is-open");
      });
      let mobileMenuLinks = Array.from(mobileMenu.querySelectorAll('a'));

      mobileMenuLinks.push(document.querySelector("#navbar-save-the-date"));
      mobileMenuLinks.forEach(link => {
        link.addEventListener('click', () => {
            navbar.classList.remove("is-open");
        });
    });
    });
</script>