<section>
  <a class="offset-scroll-position-for-fixed-header" name="{{ (i18n "speakers_title") | urlize }}"></a>
  <div>
    <h2 class="type-hero-title mb-[66px]">{{ i18n "speakers_title" }}</h2>
  </div>
  <div class="flex flex-col gap-[66px]">
    {{ range .Site.Data.speakers }}
    <div class="sm:flex flex-row gap-[42px]">
      <div
        class="ml-5 mb-5 sm:ml-0 sm:mb-0 max-w-[50%] sm:max-w-full float-right sm:float-none sm:basis-[25%] shrink-0"
      >
        <img
          class="ui-speaker-photo"
          src="/speakers/{{ .image }}"
          alt="{{ .name }}"
        />
      </div>

      <div class="basis-[75%] pt-4 sm:pt-0">
        <h3 class="type-speaker-name mb-0.5">{{ .name }}</h3>
        <p class="type-speaker-job-title mb-0.5">{{ .title }}</p>
        <p class="type-speaker-company">{{ .company }}</p>
        <div class="type-speaker-bio mt-4">{{ .bio | safeHTML }}</div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
