<section>
  <a class="offset-scroll-position-for-fixed-header" name="{{ i18n "sponsor_title" | urlize }}"></a>
  <h2 class="type-hero-title mb-5">{{ i18n "sponsor_title" }}</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-[40px] items-center">
    {{ range .Site.Data.sponsors }}
    <a target="_blank" rel="noopener" href="{{ .website }}">
      <img
        src="/sponsors/{{ .logo }}"
        alt="{{ .name }}"
      />
    </a>
    {{ end }}
  </div>
  <p class="type-hero-description my-10">
    {{ i18n "sponsor_note"}} <a href="mailto:{{ i18n "sponsor_email" }}">{{ i18n "sponsor_email" }}</a>.
  </p>
  <a href="/pdf/Memory Safety Event Prospectus.pdf" class="btn-primary">{{ i18n "prospectus_download_text" }}</a>
</section>
