<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body class="bg-dark-green text-white">
    {{- partial "nav-bar.html" . -}}
    <div class="min-h-screen flex flex-col pt-[96px] sm:pt-0">
      {{- partial "hero.html" . -}}
      <div class="bg-dark-green z-20 translate-y-[-10px]">
        <div class="container mx-auto">
          <div class="px-5 max-w-screen-lg ">

            <div class="py-10">
              <div class="flex flex-col gap-[40px] pb-[40px] overflow-auto">
                <div class="flex flex-col gap-[12px]">
                  <div class="flex flex-row gap-[12px] items-start">
                    <div class="basis-[56%] md:basis-[75%] pb-5">
                      {{- partial "venue.html" . -}}
                    </div>
                    <div class="basis-[44%] md:basis-[25%] self-stretch">
                      <img src="/images/venue-1.jpg" class="rounded-[60px] h-full w-full object-cover">
                    </div>
                  </div>
                  <!-- <div class="flex flex-row gap-[12px]">
                    <div class="basis-[100%]">
                      <img src="/images/venue-2.jpg" class="rounded-[37px] w-full">
                    </div>
                  </div>
                  <div class="flex flex-row gap-[12px]">
                    <div class="basis-[30%]">
                      <img src="/images/venue-3.jpg" class="rounded-[56px] w-full">
                    </div>
                    <div class="basis-[20%]">
                      <img src="/images/venue-4.jpg" class="rounded-[45px] w-full">
                    </div>
                    <div class="basis-[50%]">
                      <img src="/images/venue-5.jpg" class="rounded-[65px] w-full">
                    </div>
                  </div> -->
                </div>
                <div class="container max-w-screen-lg ml-0 mr-auto">
                  {{- partial "getting-there.html" . -}}
                  {{- partial "schedule.html" . -}}
                  {{- partial "approach.html" . -}}
                  {{- partial "attendees.html" . -}}
                  {{- partial "stack-form.html" . -}}
                  {{- partial "sponsors.html" . -}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
